.head1 {
  display: flex;
  width: 45%;
  height: 20%;
  justify-content: center;
  background: transparent;
  font-size: 500%;
  font-weight: 25;
  color: antiquewhite;
  position: absolute;
  top: 35%;
  left: 28%;
}

.interHome {
  background-color: #3a4c3e;
  display: flex;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
/*.normal {
  text-align: center;
  /*display: flex;*/
/*justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: transparent;
}*/
.button {
  margin-top: 60%;
}
